@import "../variables.scss";
.recipe {
  &-overview {
    display: grid;
    row-gap: 50px;
    background-color: #faf5ee;
    padding-top: 55px;
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media screen and (min-width: $large) {
  .recipe {
    &-overview {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-column-gap: 50px;
    }
  }
}
