@import url("https://fonts.googleapis.com/icon?family=Material+Icons"); //optional
@import "~react-md/src/scss/react-md"; // Required
$md-primary-color: $md-cyan-300; //optional colors
$md-secondary-color: $md-purple-a-400; //optional colors
@include react-md-everything; // Required
@import "./variables.scss";

body {
  background-color: #f3e5d7;
}
.main {
  background-color: rgb(250, 245, 238);
  width: 100%;
  padding-left: 1.45rem;
  padding-top: 1.45rem;
  padding-right: 1.45rem;
}

@media screen and (min-width: $large) {
  .frame {
    margin-left: 10%;
    margin-right: 10%;
  }
}
